.title-section,  
.ingredients-header
    {
    font-family: young serif, arial, sans-serif;
    font-weight: 400;
}

  .description,
  .preparation-time-section,
  .ingredients-section
    {
    font-family: outfit, arial, sans-serif;
}

.preparation-time-text,
.ingredients-header
    {
    color: hsl(332, 51%, 32%);
}