body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid black;
    border-radius: 8px;

    width: 280px;
    height: 600px;
}    

.omelette-div {
    width: 250px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.title-div /* add other elements that use this font family */ 
 {
    font-family: young serif, arial, sans-serif;
    font-weight: 400;
}

 /* add other elements that use this font family */ {}
    {
    font-family: outfit, arial, sans-serif;
}

.title-div {
    align-self: flex-start;
    margin-left: 15px;
    font-size: 15px;
    margin-bottom: 6px;
}
    
.description {
    font-family: Outfit, arial, sans-serif;
    font-size: 6.5px;
    margin-left: 10px;
    color: hsl(30, 10%, 34%);
}
    
    
    
    
    
    
    
    
    
    
    
    .attribution {
        font-size: 11px; text-align: center; 
        position: absolute;
        bottom: 10px;
        left: 10px;
        }
  